@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 90%;
    height: 400px;
}

.quiz-area {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
    border-radius: 0 10px 10px 0;
}

.fortune-image {
    max-width: 80%;
    max-height: 80%;
}

h1 {
    color: #333333;
}

.hidden {
    display: none;
}

.button-group button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#yes-button {
    background-color: #4caf50;
    color: white;
}

#no-button {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}

#restart-button {
    background-color: #008cba;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: none; /*いらないので削除*/
}

#restart-button:hover {
    background-color: #005f6b;
}

