@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

#game {
    margin: 20px auto;
    margin-top: 100px;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#suspects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.suspect {
    width: 120px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
    cursor: pointer;
    text-align: center;
}

.suspect:hover {
    background-color: #e0e0ff;
}

#result {
    margin: 10px 20px; /* 左右に余白を追加 */
    font-size: 1.2em;
    text-align: center;
  }